In [1]:
import librosa
import pandas as pd
import IPython.display as ipd
import numpy as np
import tensorflow as tf
from tensorflow import keras
model = keras.models.load_model('mymodel')
#specifying labels of emotion, reuired for classes
emotionMap = {0:'neutral', 1:'calm', 2:'happy', 3:'sad', 4:'angry', 5:'fear', 6:'disgust', 7:'surprise'}
print('completed step')

completed step

In [2]:
#load test sample
path = 'Train/audio/FirstAudio.wav'
X, sample_rate = librosa.load(path, res_type='kaiser_fast',duration=3,sr=44100,offset=0.5)

#obtain mel spectrograph
df = pd.DataFrame(columns=['mel_spectrogram'])
spectrogram = librosa.feature.melspectrogram(y=X, sr=sample_rate, n_mels=128,fmax=8000) 
db_spec = librosa.power_to_db(spectrogram)
log_spectrogram = np.mean(db_spec, axis = 0)
df.loc[0] = [log_spectrogram] 
df = pd.DataFrame(df['mel_spectrogram'].values.tolist())
df.head()

,0,1,2,3,4,5,6,7,8,9,...,232,233,234,235,236,237,238,239,240,241
0,-76.382431,-76.002144,-75.831741,-75.860176,-75.761444,-75.704781,-75.987495,-75.849747,-75.909241,-75.872452,...,-75.98243,-75.843842,-75.743576,-76.12011,-75.903351,-75.858574,-75.996353,-75.947311,-76.35714,-76.382431

In [3]:
colstest = np.arange(242,262,1)
print(colstest) 
dftest = pd.DataFrame(index=np.arange(1), columns=colstest)
dftest = dftest.fillna(0) 
df = pd.concat([df,dftest],axis=1) 
df.head()

[242 243 244 245 246 247 248 249 250 251 252 253 254 255 256 257 258 259
 260 261]

,0,1,2,3,4,5,6,7,8,9,...,252,253,254,255,256,257,258,259,260,261
0,-76.382431,-76.002144,-75.831741,-75.860176,-75.761444,-75.704781,-75.987495,-75.849747,-75.909241,-75.872452,...,0,0,0,0,0,0,0,0,0,0

In [4]:
#formatting data as required to pass to model for prediction
x_log = df.iloc[:, 3:]
x_log=np.array(x_log)
print(x_log.shape)
sample = x_log[:,:,np.newaxis]

(1, 259)

In [5]:
#display prediction
predictions = model.predict(sample)
classes = pd.DataFrame(np.argmax(predictions, axis = 1))
print(classes.replace(emotionMap))

      0
0  calm